.header
    display: grid
    grid-template-columns: 1fr 1fr

.header__title
    font-family: 'Teko'
    font-size: 140px
    font-weight: 400
    text-transform: uppercase
    flex-basis: 1

.header__content
    display: grid
    background-color: yellow
    width: 50ch

.buttons
    align-self: end
    display: flex
    gap: 2rem
