.main
    background-color: #161616
    height: 100vh
    overflow-x: hidden
    font-family: Nunito, sans-serif
    display: grid
    align-items: start
    color: #fff

.hero
    display: grid
    justify-content: center

.logo
    line-height: 1
    width: 1500px
    height: 400px
    text-align: start
