@use 'styles/_fonts.sass'

.main
    background-color: #161616
    height: 100vh
    isolation: isolate
    overflow-x: hidden
    font-family: Nunito, sans-serif
    display: grid
    align-items: start
    color: #fff

.hero
    display: grid
    justify-content: center

    font-family: Nurito
    font-size: 300px
    text-transform: uppercase
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background: url('assets/images/office.jpg')
    background-clip: text
    background-size: contain
    // background-repeat: no-repeat

.logo
    line-height: 1
    width: 1500px
    height: 400px
    text-align: start
