@use 'styles' as s

.main
    background-color: #161616
    min-height: 100vh
    font-family: Nunito, sans-serif
    color: s.$text-main

.hero
    display: grid
    justify-content: center

    font-family: Nurito
    font-size: 300px
    text-transform: uppercase
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background: url('assets/images/office.jpg')
    background-clip: text
    background-size: contain
    // background-repeat: no-repeat
